<header>
  <div class="container-fluid food-center">
    <!--<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>-->
    <a [routerLink]="['/']" class="white pull-left"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <span class="food-center">UC</span>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h1>{{name}}</h1>
      <div>
        <!--<rating [(ngModel)]="business['rating']"-->
                <!--readonly="true"-->
                <!--[float]="true">-->
        <!--</rating>-->
        <span class="reviews">Reviews: {{business['review_count']}}</span>
        <div class="price">{{business['price']}}</div>
        <div class="categories">
          Categories:
          {{categories(business['categories'])}}
        </div>
      </div>

      <!--<ngui-map-->
        <!--zoom="11"-->
        <!--[center]="city">-->
        <!--<marker *ngFor="let pos of positions"-->
                <!--[position]="pos"></marker>-->
      <!--</ngui-map>-->

    </div>

    <div class="col-xs-12 col-sm-8">
      <div
        ng2-carouselamos
        class="slides-wrapper"
        [items]="images"
        [width]="1000"
        [$prev]="prev"
        [$next]="next"
        [$item]="item">
      </div>
      <ng-template #prev>
        <span class="glyphicon glyphicon-arrow-left white"></span>
      </ng-template>
      <ng-template #next>
        <span class="glyphicon glyphicon-arrow-right white"></span>
      </ng-template>
      <ng-template #item let-item let-i="index">

        <div class="items">
          <img class="center-cropped" src="{{ item }}">
        </div>

      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div *ngIf="reviews.length > 0">
        <h3>Some of the Reviews from Yelp</h3>
        <ul class="list-group">
          <li *ngFor="let review of reviews" class="list-group-item">
            <div class="row">
              <div class="col-xs-6 col-sm-2">
                <img class="thumbnail" src="{{review['user']['image_url']}}" />
              </div>
              <div class="name col-xs-6 col-sm-10">
                {{review['user']['name']}}
              </div>
              <div class="review-text">
                {{review['text']}}
                <a [href]="review['url']" target="_blank">
                  Read more
                </a>
              </div>
            </div>
          </li>
        </ul>
        <div class="more">
          <a [href]="business['url']"
             target="_blank">
            Read more reviews on Yelp
            <span class="glyphicon glyphicon-arrow-right"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 time-slot">
      <div class="timings" *ngIf="hours.length > 0">
        <h3>Hours of Operation</h3>
        <div class="text-info">
          Contact Information: {{business['display_phone']}}
        </div>
        <ul class="list-group">
          <li *ngFor="let day of days; let i = index" [attr.data-index]="i" class="list-group-item">
            {{day}} : {{ hours[i]['start']}} - {{hours[i]['end']}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="right">
    <p><b>© Abhishek Kshitij</b></p>
  </div>
</footer>
