<div class="container-fluid">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a [routerLink]="['/admin/business/', businessId]">Business</a></li>
    <li role="presentation"class="active"><a [routerLink]="['/owner/business/' + this.businessId + '/order']">Orders</a></li>
    <li role="presentation"><a [routerLink]="['/profile']">Profile</a></li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item active">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          Order Number
        </div>
        <div class="col-md-2 hidden-sm hidden-xs">
          Total
        </div>
        <div class="col-sm-3 col-md-2 hidden-xs">
          Customer
        </div>
        <div class="col-sm-3 col-md-2 hidden-xs">
          Status
        </div>
        <div class="col-xs-3">
        </div>
      </div>
    </li>

    <li class="list-group-item" *ngFor="let order of orders">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a [routerLink]="['/admin', 'business', this.businessId, 'order', order['id']]">
            {{order['order_number']}}
          </a>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs">
          ${{order['total']}}
        </div>
        <div class="col-sm-2 col-md-2 hidden-xs">
          {{order['customer']['username']}}
        </div>
        <div class="col-sm-3 col-md-2 hidden-xs">
          {{order['status']}}
        </div>
        <div class="col-xs-3">
          <a class="pull-right" [routerLink]="['/admin', 'business', this.businessId, 'order', order['id']]">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
