<div class="container-fluid">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a [routerLink]="['/owner/business/' + this.businessId]">Business</a></li>
    <li role="presentation"><a [routerLink]="['/owner/business/' + this.businessId + '/staff']">Staff</a></li>
    <li role="presentation"class="active"><a [routerLink]="['/owner/business/' + this.businessId + '/service']">Service</a></li>
    <li role="presentation"><a [routerLink]="['/owner/business/' + this.businessId + '/order']">Orders</a></li>
    <li role="presentation"><a [routerLink]="['/profile']">Profile</a></li>
  </ul>
  <a [routerLink]="['/owner', 'business', this.businessId, 'service', 'new']">
 <button type="submit" class="btn btn-primary form-control"> Click Here to Add new Service</button>
</a>
  <ul class="list-group">
    <li class="list-group-item active">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          Name
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          Price
        </div>
        <div class="col-sm-3 col-md-3 hidden-xs">
          Duration
        </div>
        <div class="col-xs-3">
        </div>
      </div>
    </li>

    <li class="list-group-item" *ngFor="let service of services">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          {{service['name']}}
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          ${{service.price}}
        </div>
        <div class="col-sm-3 col-md-3 hidden-xs">
          {{service['duration']}}
        </div>
        <div class="col-xs-3">
          <a class="pull-right" [routerLink]="['/owner', 'business', this.businessId, 'service', service['id']]">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
