<div class="container-fluid">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a [routerLink]="['/staff/orders']">Orders</a></li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item active">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          Number
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          Status
        </div>
        <div class="col-sm-3 col-md-3 hidden-xs">
          Total
        </div>
        <div class="col-xs-3">
        </div>
      </div>
    </li>

    <li class="list-group-item" *ngFor="let order of orders">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a [routerLink]="['/staff', 'order', order['id']]">
            {{order['order_number']}}
          </a>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          {{order['status']}}
        </div>
        <div class="col-sm-3 col-md-3 hidden-xs">
          {{order['total']}}
        </div>
        <div class="col-xs-3">
          <a class="pull-right" [routerLink]="['/staff', 'order', order['id']]">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
