<div class="search-home">

  <div class="container">

    <div class="row search-box">
      <div class="col-xs-12 col-sm-6">
        <input [(ngModel)]="term" placeholder="Search" class="business_search_input_field form-control">
      </div>
      <div class="col-xs-12 col-sm-6">
        <input [(ngModel)]="location" placeholder="Location" class="location_search_input_field form-control">
      </div>
      <div class="col-xs-12 col-sm-12">
        <button (click)="SearchBusiness(term,location)"
                class="btn btn-primary btn-block search_button">
          <span class="glyphicon glyphicon-search">
          </span>
          Search
        </button>
      </div>
    </div>
  </div>
</div>
<div>
  <nav class="text-center">
    <ul class="home">
      <li>
        <span>Restaurants</span>
      </li>
      <li>
        <span>Automobiles</span>
      </li>
      <li>
        <span>Furnitures</span>
      </li>
      <li>
        <span>Electricians</span>
      </li>
      <li>
        <span>Air Conditioning</span>
      </li>
      <li>
        <span>Movers</span>
      </li>
    </ul>
  </nav>
  <div class="container how-to">
    <h2 class="text-center text-primary">Simple steps to Order online</h2>
    <br/>
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <span class="glyphicon glyphicon-search home"></span>
        <div class="home-desc">
          Search  your Required Business online with location
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <span class="glyphicon glyphicon-shopping-cart home"></span>
        <div class="home-desc">
          Add your service Details. Anything! Anywhere!
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <span class="glyphicon glyphicon-map-marker home"></span>
        <div class="home-desc">
          Enter your delivery address. Click Complete Order.
          All Set!
        </div>
      </div>
    </div>
  </div>
</div>
